body {
    /*background-image: url("http://www.comingsoon.net/assets/uploads/2016/09/jurassic-park-3-sam-neill-raptors.jpg");*/
    background-image: url('dino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-
}
h1
{
    color:deeppink;
    text-align:center;

}